body{
text-align: center;
height: 100vh;
justify-self: center;
}
.divcont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorChanger{
    width: 200px;
    height: 200px;
    border: solid 2px black;
}